<h1>Showing selected article</h1>
<p>
  <strong>Title:</strong><br>
   <em><%= @article.title %></em>
</p>
<p>
  <strong>Description:</strong><br>
   <em><%= @article.description %></em>
</p>
<p>
  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to "Main list", articles_path %>
</p>
