<!DOCTYPE html>
<html>
<style>
  body {
		text-align: left;
		color: #998057;
    padding: 20px;
    background-color: #c5ae9f;
		}
	h1 {
		font-family: Consolas;
		color: #998057;
		font-size: 150%;
    padding: 20px;
		}
	p {
		font-family: sans-serif;
		color: #998057;
		font-size: 110%;
    }
	header {
		text-align: center;
		font-size: 140%;
    background-color: #cebc96;
    padding: 5px;
		}
  address {
      color: #cebc96;
      padding: 20px;
    }
    hr {
      color: #6d8dc0;
    }
</style>

<header>
<h1>About</h1>
<hr>
</header>

<body>
<p>This page is created for educational purposes</p>
<p>I'm planning to develope this page further according to course plan</p>
</body>

<footer>
<hr>
<adress>
Welcome to  visit the main page!<br>
follow the <%= link_to 'Link', root_path %>!
</adress>
</footer>

</html>
