$navbar-default-bg: #990033;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color: #ff0000;
  font-kerning: normal;
  font-stretch: extra-expanded;
  text-decoration-style: solid;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('home_landscape.jpg');
  background-size: cover;
}

.jumbotron h1 {
  color: red;
  text-align: center;
  // font-family: verdana;
  font-weight: bold;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.2em;
  text-decoration-color: orange;

}
.article-body{
  border-top : 1px solid orange;
  padding-bottom: 20px;
  padding-top: 15px;
}


footer a:hover{
  color: black;
  }

footer{
  margin-top: 30px;
  margin-bottom: 30px;
  // border: 1px solid grey;
}

footer ul{
  float: right;
}

footer small{
  float: left;
}

footer ul li{
  list-style: none;
}

.btn-xlarge{
  background-color: red;
  font-size: 1.5em;
  text-decoration-color: yellow;
}
